@{
    ViewData["Title"] = "Home Page";
}
<img src="~/images/DwightDave_201606_800_316.jpg" alt="MR Introduction" class="img-responsive" />

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        @*<li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>*@
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="carousel-caption" role="option">
            </div>
            <div style="padding-top:20px;">

                <h2>VR/MR OnRamp Information</h2>
                <p>
                    Bring your laptop, computer, VR or MR device, our goal is for you to be able to finish loading the basics,
                    get something simple running and gain an understanding of some of the tools and libraries used to create compelling Mixed Reality applications.
                    HP, Acer and Dell are just starting to deliver ~ $300 developer kits and of course there is HoloLens all of which use the
                    Microsoft Holographic system.
                </p>
                <p style="font-size:large;font-weight:bold;">
                    You can sign up for the next session on Meetup.com: <a href="https://www.meetup.com/Windows-Mixed-Reality/" target="_blank">https://www.meetup.com/Windows-Mixed-Reality/</a>
                </p>
                <p>
                    We hope that most people will come with most of the setup completed: <a href="https://developer.microsoft.com/en-us/windows/mixed-reality/install_the_tools" target="_blank">https://developer.microsoft.com/en-us/windows/mixed-reality/install_the_tools</a>
                </p>
                <p>
                    Check out the Microsoft Store for some of the new Mixed Reality sets: <a href="https://www.microsoft.com/en-us/store/b/virtualreality?icid=CNavVirtualReality" target="_blank">https://www.microsoft.com/en-us/store/b/virtualreality?icid=CNavVirtualReality</a>
                </p>
                <h3>Session #1 outline</h3>
                <ul>
                    <li>Introduction (30 min)</li>
                    <ul>
                        <li>What is AR/MR/VR
                        <li>Differences between devices
                        <li>What can you do with it
                        <li>What is an MR app
                        <li>Tools To Develop
                        <li>Opportunities in AR/MR/VR
                    </ul>
                    <li>Environment Setup (1.5 hours)</li>
                    <ul>
                        <li>Bring your laptop or computer</li>
                        <li>We will tell you ahead of time what to load</li>
                        <li>Lab to help you get set up</li>
                        <li>Simple app</li>
                    </ul>
                    <li>Toolkits (1.5 hours)</li>
                    <ul>
                        <li>Demo of Vuforia, MR Toolkit, ARToolkit (Apple), OpenAR, OpenCV) - 30 min</li>
                        <li>Lab (Choose lab from Vuforia, MR Toolkit, OpenCV) (1 hr) </li>
                    </ul>
                    <li>Show and Tell ( 30 min )</li>
                    <li>Summary (15 min)</li>
                    <ul>
                        <li>What next?</li>
                        <li>Advanced courses</li>
                        <li>Custom Developmment</li>
                    </ul>
                </ul>
                <h3>Hardware Requirements</h3>
                <p>
                    Microsoft Holographic Mixed Reality Headset system recommendations for app developers.
                </p>
                <ul style="list-style-type: none;">
                    <li>Operating systems</li>
                    <ul>
                        <li>Windows 10 – Creators Update (Developer Mode enabled)</li>
                    </ul>
                    <li>Processor</li>
                    <ul>
                        <li>Desktop: Intel Desktop i7 (6+ Core) OR AMD Ryzen 7 1700 (8-Core, 16 threads)</li>
                    </ul>
                    <li>Graphics GPU</li>
                    <ul>
                        <li>Desktop: NVIDIA GTX 980/1060 | AMD Radeon RX 480 (8GB) equivalent or greater | DX12 and WDDM 2.2 capable GPU</li>
                    </ul>
                    <li>Graphics drivers</li>
                    <ul>
                        <li>Windows Display Driver Model (WDDM) 2.2</li>
                    </ul>
                    <li>Thermal design power</li>
                    <ul>
                        <li>15W or greater</li>
                    </ul>                    
                    <li>HMD connectors</li>
                    <ul>
                        <li>HDMI 1.4 or Display Port 1.2 for 60 Hz HMDs</li>
                        <li>HDMI 2.0 or Display Port 1.2 for 90 Hz HMDs</li>
                        <li>1x available graphics display port for HMD</li>
                    </ul>
                    <li>Resolution</li>
                    <ul>
                        <li>SVGA (800x600)</li>
                    </ul>                    
                    <li>Bit depth</li>
                    <ul>
                        <li> 32 bits of color per pixel</li>
                    </ul>                    
                    <li>RAM</li>
                    <ul>
                        <li>16GB or greater</li>
                    </ul>
                    <li>Storage</li>
                    <ul>
                        <li>>10GB additional free space</li>
                    </ul>
                    <li>USB/li>
                    <ul>
                        <li>1x available USB port for headset</li>
                        <li>USB 3.0 Type-A</li>
                        <li>May exceed power limitations of some computers (Surface Book for example)</li>
                    </ul>
                    <li>Bluetooth</li>
                    <ul>
                        <li>Bluetooth 4.0 (for accessory connectivity)</li>
                    </ul>
               </ul> 
                   
             </div>
        </div>

    </div>
    @*<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>*@
</div>

@*<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699318">Add client packages using Bower.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run & Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>*@
