
@{
    ViewData["Title"] = "Links";
}

<h2>Links</h2>

<a href="https://labs.commercetools.com/hololens-mixed-virtual-reality-43e5b4c365e4" target="_blank">https://labs.commercetools.com/hololens-mixed-virtual-reality-43e5b4c365e4</a>