
@{
    ViewData["Title"] = "Developer Setup";
}

<h2>Developer Setup</h2>

<p>More to come..</p>

<h3>Took Kits</h3>
<ul>
    <li><a href="https://github.com/Microsoft/MixedRealityToolkit-Unity" target="_blank">https://github.com/Microsoft/MixedRealityToolkit-Unity</a></li>
</ul>
