
@{
    ViewData["Title"] = "Developer Setup";
}

<h2>Developer Setup</h2>

<h3>Setup Links (Updated 2017-10-05)</h3>

<a href="https://developer.microsoft.com/en-us/windows/mixed-reality/install_the_tools" target="_blank">Setup Instructions</a><br />
<a href="https://insider.windows.com/en-us/" target="_blank">Windows Insider</a><br />
<a href="https://www.visualstudio.com/downloads/" target="_blank">Visual Studio Download</a><br />
<a href="https://www.microsoft.com/en-us/software-download/windowsinsiderpreviewSDK" target="_blank">Windows Insider SDK</a><br />
<a href="https://unity3d.com/unity/beta/" target="_blank"></a><br />
<a href="https://go.microsoft.com/fwlink/?linkid=852626" target="_blank">MS Holographic Emulator and Templates</a><br />
<a href="https://www.vuforia.com/ " target="_blank">Vuforia</a><br />
<a href="https://github.com/Microsoft/MixedRealityToolkit-Unity" target="_blank">MR Toolkit</a><br />
<a href="https://github.com/artoolkit/ar6unity-wiki/wiki/ARToolKit-for-Unity-on-iOS " target="_blank">AR Toolkit</a><br />
<a href="https://github.com/opencv" target="_blank">Open CV</a><br />



